 html, body{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(112.5deg, rgb(111, 238, 238) 11.4%, rgb(183, 70, 149) 60.2%);
    
}




*{box-sizing: border-box;

}
.col-1 { width: 7.418%; }
			.col-2 { width: 15.83%; }
			.col-3 { width: 24.25%; }
			.col-4 {width: 32.66%;}
			.col-5 {width: 41.08%;}
			.col-6 {width: 49.5%;}
			.col-7 {width: 57.91%;}
			.col-8 {width: 66.33%;}
			.col-9 {width: 74.75%;}
			.col-10 {width: 83.16%;}
			.col-11 {width: 91.58%;}
			.col-12 {width: 100%;
         }	
[class*="col-"]{
    box-shadow: 2px inset;
	padding:15px;
	float: left;

margin:0 0 0 1%;

} 
 [class*="col-"]:first-child,[class*="col-"]:first-of-type{margin:0}
.row{
	width: 100%; margin:0 auto;

}
.row::after{
	content:"";
	clear: both;
	margin:0 0 10px 0;
	display: table;
}

.wrapper { width:100%;
margin: 0 auto; 
position: relative; }

ul.tab-list {
    list-style: none;
  }

#about ul li{
    list-style-type:none;
}

.row{
    display: grid;
}

       


