.highlight {
  background-color: red;
}
.normal {
  background-color: transparent;
}
.focus {
  color: blue;
  cursor: pointer;
  font-weight: bold;
}
.selected {
  color: green;
  font-weight: bold;
}
.asc:after {
  content: "\25B2";
}
.desc:after {
  content: "\25BC";
}
